<a href="https://colab.research.google.com/github/taherezzaier/location/blob/main/AMI_ASSURANCE_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Chemins des fichiers Excel
file_2023 = '/content/20231231_INVENTAIRE AUTO V2.xlsx'
file_2024 = '/content/20240630_inventaire auto V2.xlsx'
# Lecture des fichiers Excel
df_2023 = pd.read_excel(file_2023)
df_2024 = pd.read_excel(file_2024)

In [ ]:
# Affichage des premières lignes des DataFrames pour vérifier le contenu
print("DataFrame 2023:")
print(df_2023.head())

print("\nDataFrame 2024:")
print(df_2024.head())

DataFrame 2023:
   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2023  S000001        A         A          1        4       X
1      2023  S000001        B         A          1        4       X
2      2023  S000002        B         A          1        4       X
3      2023  S000003        A         A          1        4       X
4      2023  S000003        B         A          1        4       X

   EVAL_INIT  MNTPAIGRN  MNTPROVIS       SAP  MNTTOTAL    DTSURV  DTDECSNT  \
0        0.0        0.0      0.000     0.000     0.000  20031003  20040105
1        0.0        0.0   1672.075  1672.075  1672.075  20031003  20040105
2        0.0        0.0   3900.950  3900.950  3900.950  20031001  20040302
3        0.0        0.0     77.000    77.000    77.000  20031017  20040316
4        0.0        0.0      0.000     0.000     0.000  20031017  20040316

   DTOUVSNT  DTREOUSNT  DTCLTSNT  CODE_ETAT
0  20040105   20200131  20191121          3
1  20040105   20200131  20191121          3
2  20040302          0         0          1
3  20040316   20210107  20191122          3
4  20040316   20210107  20191122          3

DataFrame 2024:
   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2024  S000001        A         A          1        4       X
1      2024  S000001        B         A          1        4       X
2      2024  S000002        B         A          1        4       X
3      2024  S112219        A         A          1        4       X
4      2024  S112219        B         A          1        4       X

   EVAL_INIT  MNTPAIGRN  MNTPROVIS       SAP  MNTTOTAL    DTSURV  DTDECSNT  \
0        0.0        0.0      0.000     0.000     0.000  20031003  20040105
1        0.0        0.0   1672.075  1672.075  1672.075  20031003  20040105
2        0.0        0.0   3900.950  3900.950  3900.950  20031001  20040302
3      168.0      168.0      0.000     0.000   168.000  20031112  20040302
4        0.0        0.0      0.000     0.000     0.000  20031112  20040302

   DTOUVSNT  DTREOUSNT  DTCLTSNT  CODE_ETAT
0  20040105   20200131  20191121          3
1  20040105   20200131  20191121          3
2  20040302          0         0          1
3  20040302   20240311  20140110          3
4  20040302   20240311  20140110          3

In [ ]:
# Concaténation des deux DataFrames
combined_df = pd.concat([df_2023, df_2024], ignore_index=True)

# Affichage des premières lignes du DataFrame combiné
print("\nCombined DataFrame:")
print(combined_df.head())

# Groupement par NUMSNT et GRNTSINI, puis sélection des colonnes spécifiées
grouped_df = combined_df.groupby(['NUMSNT', 'GRNTSINI']).first().reset_index()

# Sélection des colonnes spécifiées
selected_columns = ['EXERCICE','NUMSNT', 'GRNTSINI', 'TYPE_DOSS', 'CAUSESINI', 'RESPIDA', 'NATSINI', 'EVAL_INIT', 'SAP', 'MNTTOTAL','MNTPROVIS', 'DTSURV', 'DTDECSNT', 'DTOUVSNT', 'DTREOUSNT', 'DTCLTSNT']
result_df = grouped_df[selected_columns]

# Affichage du résultat final
print("\nResult DataFrame:")
print(result_df)

Combined DataFrame:
   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2023  S000001        A         A          1        4       X
1      2023  S000001        B         A          1        4       X
2      2023  S000002        B         A          1        4       X
3      2023  S000003        A         A          1        4       X
4      2023  S000003        B         A          1        4       X

   EVAL_INIT  MNTPAIGRN  MNTPROVIS       SAP  MNTTOTAL    DTSURV  DTDECSNT  \
0        0.0        0.0      0.000     0.000     0.000  20031003  20040105
1        0.0        0.0   1672.075  1672.075  1672.075  20031003  20040105
2        0.0        0.0   3900.950  3900.950  3900.950  20031001  20040302
3        0.0        0.0     77.000    77.000    77.000  20031017  20040316
4        0.0        0.0      0.000     0.000     0.000  20031017  20040316

   DTOUVSNT  DTREOUSNT  DTCLTSNT  CODE_ETAT
0  20040105   20200131  20191121          3
1  20040105   20200131  20191121          3
2  20040302          0         0          1
3  20040316   20210107  20191122          3
4  20040316   20210107  20191122          3

Result DataFrame:
        EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0           2023  S000001        A         A          1        4       X
1           2023  S000001        B         A          1        4       X
2           2023  S000002        B         A          1        4       X
3           2023  S000003        A         A          1        4       X
4           2023  S000003        B         A          1        4       X
...          ...      ...      ...       ...        ...      ...     ...
246469      2024  S127323        M         E         11        0       A
246470      2024  S127324        A         E         11        0       A
246471      2024  S127324        M         E         11        0       A
246472      2024  S127325        A         E          3        0       A
246473      2024  S127325        K         E          3        0       A

        EVAL_INIT       SAP  MNTTOTAL  MNTPROVIS    DTSURV  DTDECSNT  \
0             0.0     0.000     0.000      0.000  20031003  20040105
1             0.0  1672.075  1672.075   1672.075  20031003  20040105
2             0.0  3900.950  3900.950   3900.950  20031001  20040302
3             0.0    77.000    77.000     77.000  20031017  20040316
4             0.0     0.000     0.000      0.000  20031017  20040316
...           ...       ...       ...        ...       ...       ...
246469      400.0   400.000   400.000    400.000  20240627  20240628
246470      110.0   110.000   110.000    110.000  20240627  20240628
246471      550.0   550.000   550.000    550.000  20240627  20240628
246472      110.0   110.000   110.000    110.000  20240627  20240628
246473     2170.0     0.000  2170.000   2170.000  20240627  20240628

        DTOUVSNT  DTREOUSNT  DTCLTSNT
0       20040105   20200131  20191121
1       20040105   20200131  20191121
2       20040302          0         0
3       20040316   20210107  20191122
4       20040316   20210107  20191122
...          ...        ...       ...
246469  20240628          0         0
246470  20240628          0         0
246471  20240628          0         0
246472  20240628          0         0
246473  20240628          0         0

[246474 rows x 16 columns]

In [ ]:
# Concaténation des deux DataFrames
combined_df = pd.concat([df_2023, df_2024], ignore_index=True)

# Affichage des premières lignes du DataFrame combiné
print("\nCombined DataFrame:")
print(combined_df.head())

# Groupement par NUMSNT et GRNTSINI, puis sélection des colonnes spécifiées
grouped_df = combined_df.groupby(['NUMSNT', 'GRNTSINI']).first().reset_index()

# Sélection des colonnes spécifiées
selected_columns = ['EXERCICE','NUMSNT', 'GRNTSINI', 'TYPE_DOSS', 'CAUSESINI', 'RESPIDA', 'NATSINI', 'EVAL_INIT', 'SAP', 'MNTTOTAL','MNTPROVIS', 'DTSURV', 'DTDECSNT', 'DTOUVSNT', 'DTREOUSNT', 'DTCLTSNT']
result_df = grouped_df[selected_columns]

# Affichage du résultat final
# Sélection des colonnes nécessaires pour la fusion et l'analyse
columns_to_merge = ['NUMSNT', 'GRNTSINI', 'MNTPROVIS', 'MNTPAIGRN']

# Renommer les colonnes pour éviter les conflits lors de la fusion
df_2023_renamed = df_2023[columns_to_merge].rename(columns={'MNTPROVIS': 'MNTPROVIS_2023', 'MNTPAIGRN': 'MNTPAIGRN_2023'})
df_2024_renamed = df_2024[columns_to_merge].rename(columns={'MNTPROVIS': 'MNTPROVIS_2024', 'MNTPAIGRN': 'MNTPAIGRN_2024'})

# Fusionner les DataFrames sur NUMSNT et GRNTSINI
merged_df = pd.merge(df_2023_renamed, df_2024_renamed, on=['NUMSNT', 'GRNTSINI'], how='outer')

# Remplacer les NaN par 0 pour éviter les erreurs dans les calculs
merged_df.fillna(0, inplace=True)

# Calculer le résultat de l'analyse
merged_df['ANALYSIS_RESULT'] = merged_df['MNTPROVIS_2023'] - (merged_df['MNTPROVIS_2024'] + merged_df['MNTPAIGRN_2024'])
print(merged_df)

Combined DataFrame:
   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2023  S000001        A         A          1        4       X
1      2023  S000001        B         A          1        4       X
2      2023  S000002        B         A          1        4       X
3      2023  S000003        A         A          1        4       X
4      2023  S000003        B         A          1        4       X

   EVAL_INIT  MNTPAIGRN  MNTPROVIS       SAP  MNTTOTAL    DTSURV  DTDECSNT  \
0        0.0        0.0      0.000     0.000     0.000  20031003  20040105
1        0.0        0.0   1672.075  1672.075  1672.075  20031003  20040105
2        0.0        0.0   3900.950  3900.950  3900.950  20031001  20040302
3        0.0        0.0     77.000    77.000    77.000  20031017  20040316
4        0.0        0.0      0.000     0.000     0.000  20031017  20040316

   DTOUVSNT  DTREOUSNT  DTCLTSNT  CODE_ETAT
0  20040105   20200131  20191121          3
1  20040105   20200131  20191121          3
2  20040302          0         0          1
3  20040316   20210107  20191122          3
4  20040316   20210107  20191122          3
         NUMSNT GRNTSINI  MNTPROVIS_2023  MNTPAIGRN_2023  MNTPROVIS_2024  \
0       S000001        A           0.000             0.0           0.000
1       S000001        B        1672.075             0.0        1672.075
2       S000002        B        3900.950             0.0        3900.950
3       S000003        A          77.000             0.0          77.000
4       S000003        B           0.000             0.0           0.000
...         ...      ...             ...             ...             ...
246469  S127323        A           0.000             0.0         110.000
246470  S127324        M           0.000             0.0         550.000
246471  S127324        A           0.000             0.0         110.000
246472  S127325        A           0.000             0.0         110.000
246473  S127325        K           0.000             0.0        2170.000

        MNTPAIGRN_2024  ANALYSIS_RESULT
0                  0.0              0.0
1                  0.0              0.0
2                  0.0              0.0
3                  0.0              0.0
4                  0.0              0.0
...                ...              ...
246469             0.0           -110.0
246470             0.0           -550.0
246471             0.0           -110.0
246472             0.0           -110.0
246473             0.0          -2170.0

[246474 rows x 7 columns]

In [ ]:
result_df.columns

Index(['EXERCICE', 'NUMSNT', 'GRNTSINI', 'TYPE_DOSS', 'CAUSESINI', 'RESPIDA',
       'NATSINI', 'EVAL_INIT', 'SAP', 'MNTTOTAL', 'MNTPROVIS', 'DTSURV',
       'DTDECSNT', 'DTOUVSNT', 'DTREOUSNT', 'DTCLTSNT'],
      dtype='object')

In [ ]:
# ID1 : Concaténation des colonnes MNTPROVIS et GRNTSINI
result_df['ID1'] = result_df['MNTPROVIS'].astype(str) + result_df['GRNTSINI'].astype(str)

# ID2 : Concaténation des colonnes MNTPROVIS, GRNTSINI et DTSURV
result_df['ID2'] = result_df['MNTPROVIS'].astype(str) + result_df['GRNTSINI'].astype(str) + result_df['DTSURV'].astype(str)

# ID3 : Concaténation des colonnes MNTPROVIS, GRNTSINI et DTSURV
result_df['ID3'] = result_df['MNTPROVIS'].astype(str) + result_df['GRNTSINI'].astype(str) + result_df['DTSURV'].astype(str)

# ID4 : Concaténation des colonnes MNTPROVIS et GRNTSINI
result_df['ID4'] = result_df['MNTPROVIS'].astype(str) +result_df['GRNTSINI'].astype(str)

# Affichage des résultats pour chaque identifiant
print("\nResult DataFrame with IDs:")
print(result_df.head())

<ipython-input-10-5b3cce47345e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['ID1'] = result_df['MNTPROVIS'].astype(str) + result_df['GRNTSINI'].astype(str)

Result DataFrame with IDs:
   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2023  S000001        A         A          1        4       X
1      2023  S000001        B         A          1        4       X
2      2023  S000002        B         A          1        4       X
3      2023  S000003        A         A          1        4       X
4      2023  S000003        B         A          1        4       X

   EVAL_INIT       SAP  MNTTOTAL  MNTPROVIS    DTSURV  DTDECSNT  DTOUVSNT  \
0        0.0     0.000     0.000      0.000  20031003  20040105  20040105
1        0.0  1672.075  1672.075   1672.075  20031003  20040105  20040105
2        0.0  3900.950  3900.950   3900.950  20031001  20040302  20040302
3        0.0    77.000    77.000     77.000  20031017  20040316  20040316
4        0.0     0.000     0.000      0.000  20031017  20040316  20040316

   DTREOUSNT  DTCLTSNT        ID1                ID2                ID3  \
0   20200131  20191121       0.0A       0.0A20031003       0.0A20031003
1   20200131  20191121  1672.075B  1672.075B20031003  1672.075B20031003
2          0         0   3900.95B   3900.95B20031001   3900.95B20031001
3   20210107  20191122      77.0A      77.0A20031017      77.0A20031017
4   20210107  20191122       0.0B       0.0B20031017       0.0B20031017

         ID4
0       0.0A
1  1672.075B
2   3900.95B
3      77.0A
4       0.0B

In [ ]:
# Charger le fichier Excel
file_path = '/content/Référentiel des CMs_MAJ stagiaire.xlsx'
excel_file = pd.ExcelFile(file_path)

# Lire les différents onglets
garantie_dossierMAJ = pd.read_excel(excel_file, sheet_name='CM garantie_dossierMAJ')
b_d_2 = pd.read_excel(excel_file, sheet_name='CMs B_D (2)')
valeur_arrondie_2 = pd.read_excel(excel_file, sheet_name='CM_valeur arrondie (2)')


# Boucle de vérification des identifiants
result_df['ID1_exists'] = result_df['ID1'].isin(garantie_dossierMAJ['Identifiant'])
result_df['ID2_exists'] = result_df['ID2'].isin(garantie_dossierMAJ['Identifiant'])
result_df['ID3_exists'] = result_df['ID3'].isin(b_d_2['Identifiant'])
result_df['ID4_exists'] = result_df['ID4'].isin(valeur_arrondie_2['Identifiant'])

# Affichage des résultats
print(result_df.head())

   EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0      2023  S000001        A         A          1        4       X
1      2023  S000001        B         A          1        4       X
2      2023  S000002        B         A          1        4       X
3      2023  S000003        A         A          1        4       X
4      2023  S000003        B         A          1        4       X

   EVAL_INIT       SAP  MNTTOTAL  ...  DTREOUSNT  DTCLTSNT        ID1  \
0        0.0     0.000     0.000  ...   20200131  20191121       0.0A
1        0.0  1672.075  1672.075  ...   20200131  20191121  1672.075B
2        0.0  3900.950  3900.950  ...          0         0   3900.95B
3        0.0    77.000    77.000  ...   20210107  20191122      77.0A
4        0.0     0.000     0.000  ...   20210107  20191122       0.0B

                 ID2                ID3        ID4 ID1_exists ID2_exists  \
0       0.0A20031003       0.0A20031003       0.0A      False      False
1  1672.075B20031003  1672.075B20031003  1672.075B      False      False
2   3900.95B20031001   3900.95B20031001   3900.95B      False      False
3      77.0A20031017      77.0A20031017      77.0A      False      False
4       0.0B20031017       0.0B20031017       0.0B      False      False

  ID3_exists ID4_exists
0      False      False
1      False      False
2      False      False
3      False      False
4      False      False

[5 rows x 24 columns]

In [ ]:
# Affichage des résultats
print(result_df)

# Exporting to an Excel file
result_df.to_excel('output.xlsx', index=False)  # index=False to avoid saving the index as a column

        EXERCICE   NUMSNT GRNTSINI TYPE_DOSS  CAUSESINI  RESPIDA NATSINI  \
0           2023  S000001        A         A          1        4       X
1           2023  S000001        B         A          1        4       X
2           2023  S000002        B         A          1        4       X
3           2023  S000003        A         A          1        4       X
4           2023  S000003        B         A          1        4       X
...          ...      ...      ...       ...        ...      ...     ...
246469      2024  S127323        M         E         11        0       A
246470      2024  S127324        A         E         11        0       A
246471      2024  S127324        M         E         11        0       A
246472      2024  S127325        A         E          3        0       A
246473      2024  S127325        K         E          3        0       A

        EVAL_INIT       SAP  MNTTOTAL  ...  DTREOUSNT  DTCLTSNT        ID1  \
0             0.0     0.000     0.000  ...   20200131  20191121       0.0A
1             0.0  1672.075  1672.075  ...   20200131  20191121  1672.075B
2             0.0  3900.950  3900.950  ...          0         0   3900.95B
3             0.0    77.000    77.000  ...   20210107  20191122      77.0A
4             0.0     0.000     0.000  ...   20210107  20191122       0.0B
...           ...       ...       ...  ...        ...       ...        ...
246469      400.0   400.000   400.000  ...          0         0     400.0M
246470      110.0   110.000   110.000  ...          0         0     110.0A
246471      550.0   550.000   550.000  ...          0         0     550.0M
246472      110.0   110.000   110.000  ...          0         0     110.0A
246473     2170.0     0.000  2170.000  ...          0         0    2170.0K

                      ID2                ID3        ID4 ID1_exists ID2_exists  \
0            0.0A20031003       0.0A20031003       0.0A      False      False
1       1672.075B20031003  1672.075B20031003  1672.075B      False      False
2        3900.95B20031001   3900.95B20031001   3900.95B      False      False
3           77.0A20031017      77.0A20031017      77.0A      False      False
4            0.0B20031017       0.0B20031017       0.0B      False      False
...                   ...                ...        ...        ...        ...
246469     400.0M20240627     400.0M20240627     400.0M      False      False
246470     110.0A20240627     110.0A20240627     110.0A      False      False
246471     550.0M20240627     550.0M20240627     550.0M      False      False
246472     110.0A20240627     110.0A20240627     110.0A      False      False
246473    2170.0K20240627    2170.0K20240627    2170.0K      False      False

       ID3_exists ID4_exists
0           False      False
1           False      False
2           False      False
3           False      False
4           False      False
...           ...        ...
246469      False      False
246470      False      False
246471      False      False
246472      False      False
246473      False      False

[246474 rows x 24 columns]